/* This file is for your main application css. */
@import "bootstrap";

#masthead { max-height: 300px; overflow: hidden; text-align: center;
  #banner-image {display: inline-block; background-image: url(/images/banner.jpg); width: 100%; max-width: 1400px; padding-top: 21.5%; background-position: center 0; background-repeat: no-repeat;}
}
#create-room-field{margin: 1.5em 0;}
.divider { display: flex; align-items: center; margin: 20px 0; justify-content: center;
  // .divider-line{position: absolute; width: 100%; height: 0; border: lightgray solid 0.5px; }
  span { background: white; padding: 5px; font-weight: bold; color: gray;
    &::before{content: ""; left: 0; position: absolute; width: 100%; height: 0; border: lightgray solid 0.5px;
      transform: translateY(12px); z-index:-1;}
  }
}

.section{
  &.section-join-others{
    h2 {font-size: 1.5em; color: lighten(black, 35%);}
  }
}

#rooms-list {
  .room-cards {
    .room-card { border-radius: 7px; margin: 20px; width: 10em;
      .room-status {position: relative; transform: translateY(-83%); border-radius: 15px;
        padding: 2px 13px 8px; border: 1px solid; }
      .room-name {margin-top: -37px;}
      &.status-open {background: #9bc6f6;
        .room-status{border-color: #5ba5fa;background:#cae0f8;}
      }
      &.status-playing {background: #adecb7;
        .room-status{border-color: #80e08e;background:#bbebc1;}
      }
      &.status-full {background: #ffe383;
        .room-status{border-color: #fbe38d;background:#f8f1d3;}
      }
    }
  }
}

#users-online li:hover {
  cursor: pointer;
}
